---
import "../styles/style.css";
import "../styles/global.css";

---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <!-- Performance optimizations - GitHub Pages compatible -->
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">

  <!-- Preload critical resources -->
  <link href="/image/favicon.png" rel="shortcut icon" type="image/x-icon">

  <title id="title-dn40ff">A new language of care | withSarama.com</title>

  <meta id="meta-jgm8m5" name="description"
    content="Most dog tech tells you where your dog is. Sarama helps you feel how they are.">
  <meta id="meta-og-image" property="og:image"
    content="https://withsarama.com/image/0afbb9be839060c461bfdcb5bf1db14cf7a6fd43.jpeg">
  <meta id="meta-og-title" property="og:title" content="A new language of care with Sarama">
  <meta id="meta-og-description" property="og:description"
    content="Most dog tech tells you where your dog is. Sarama helps you feel how they are.">
  <meta id="meta-og-type" property="og:type" content="website">
  <meta id="meta-og-url" property="og:url" content="https://withsarama.com">
  <meta id="meta-og-image-alt" property="og:image:alt"
    content="Illustration of a dog and a human in a park, with a subtle gradient connecting them.">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="withsarama.com">
  <meta property="twitter:url" content="https://withsarama.com">
  <meta name="twitter:title" content="A new language of care with Sarama">
  <meta name="twitter:description"
    content="Most dog tech tells you where your dog is. Sarama helps you feel how they are.">
  <meta name="twitter:image"
    content="https://withsarama.com/image/0afbb9be839060c461bfdcb5bf1db14cf7a6fd43.jpeg">

  <!-- Meta Pixel Code -->
  <script is:inline>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '585515677899472');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=585515677899472&ev=PageView&noscript=1"/></noscript>
  <!-- End Meta Pixel Code -->


  <!-- Override any width constraints -->
</head>

<body>
  <script src="/scripts/animations.js" is:inline></script>
  <div id="container">
    <div data-page-overflowx="auto" data-height="3652.99951171875" class="css-ll733z css-50jkpj css-x0o3s8">
      <div class="css-g0vp85 css-j9f0op">
        <div class="css-3gmj9o css-ndsgy9 css-v4sv0p">
          <div class="css-op4k87 css-mxg463"><video autoplay loop muted playsinline
              class="css-ez8men css-9unj7x absolute absolute css-r0azwh css-9unj7x css-f0z3cc">
              <!-- Desktop version -->
              <source media="(min-width: 1024px)" src="/video/desktop_Sarama_Dalmatian_loop.webm" type="video/webm">
              <source media="(min-width: 1024px)" src="/video/desktop_Sarama_Dalmatian_loop_optimized.mp4" type="video/mp4">
              <!-- Tablet version -->
              <source media="(min-width: 768px) and (max-width: 1023px)" src="/video/tablet_Sarama_Dalmatian_loop.webm" type="video/webm">
              <source media="(min-width: 768px) and (max-width: 1023px)" src="/video/tablet_Sarama_Dalmatian_loop_optimized.mp4" type="video/mp4">
              <!-- Mobile version -->
              <source media="(max-width: 767px)" src="/video/mobile_Sarama_Dalmatian_loop.webm" type="video/webm">
              <source media="(max-width: 767px)" src="/video/mobile_Sarama_Dalmatian_loop_optimized.mp4" type="video/mp4">
              <!-- Fallback image in case video doesn't load -->
              <img alt="" class="css-ez8men css-9unj7x absolute absolute css-r0azwh css-9unj7x css-f0z3cc"
                src="/image/webp/0afbb9be839060c461bfdcb5bf1db14cf7a6fd43.webp">
            </video>
            <div class="css-rt1aze css-j9f0op">
              <div class="css-bd4g2t css-rc74tc css-y02fvh">
                <div class="css-cws40e css-8u7anj w-[307px] md:w-auto">
                  <div class="css-yytri css-pmo86u css-wwm8qs">
                    <a
                      href="https://withsarama.com"
                      class="relative flex items-center justify-center md:w-[204px] md:h-[204px] py-3 w-full rounded-full bg-[rgb(205,66,45)] shadow-[0px_0px_3px_0px_rgb(205,66,45)] md:bg-transparent md:shadow-none"
                    >
                      <img src="/image/3f68312b38cef1acbd1e3e52ed456275eef1fe67.svg" alt="" class="absolute inset-0 w-full h-full object-cover hidden md:block" />
                      <p class="text-white text-sm z-10">Join the waitlist</p>
                    </a>
                    <a
                      href="https://form.typeform.com/to/ifTQerp4"
                      class="
                        relative flex items-center justify-center md:w-[204px] md:h-[204px] py-3 w-full rounded-full
                        bg-[rgba(29,30,30,0.2)] shadow-[rgba(255,255,255,0.25)_0px_1px_20px_0px]
                        backdrop-blur-[7.5px] md:backdrop-blur-none md:bg-transparent md:shadow-none"
                    >
                      <img src="/image/0ad9de61ebaecc59265fa6d34f351e43ab1fea53.svg" alt="" class="absolute inset-0 w-full h-full object-cover hidden md:block" />
                      <p class="text-white text-sm z-10">Apply for the private beta</p>
                    </a>
                  </div>
                </div>
                <div class="flex justify-center md:block md:absolute md:w-[1152px] md:h-[68px] md:top-[342px] md:left-[64px]">
                  <p class="block w-[12rem] md:w-[511px] lg:w-auto text-center md:text-left lg:text-center leading-[0.85] align-[normal] adjustLetterSpacing fade-in-on-scroll text-white/75 text-[42px] md:text-[60px] lg:text-[80px]">
                    A new language of care.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="relative max-w-full md:max-w-[1500px] w-full shrink-[0] fade-in-on-scroll" id="our-story-section">
            <div class="flex flex-col gap-6 md:gap-8 text-black px-4 md:px-10 py-[10rem]">
              <div class="flex flex-col gap-6 md:gap-8 md:w-[391px]">
                <p class="text-[1.75rem] md:text-[40px] font-light font-light tracking-[-1.12px] leading-[30.8px] md:leading-[1.1] adjustLetterSpacing sequential-fade">
                  Most dog tech tells you where your dog is.
                </p>
                <p class="text-[1.75rem] md:text-[40px] font-light font-light tracking-[-1.12px] leading-[30.8px] md:leading-[1.1] adjustLetterSpacing sequential-fade">
                  Sarama helps you feel how they are.
                </p>
                <p class="text-[15px] font-body my-8 sequential-fade">
                  GPS can show you their location.<br>Trackers can count their steps.<br>But none of it tells you the part that matters most:<br>What your dog is feeling—and why.
                </p>
              </div>
              <p class="text-[1.75rem] md:text-[40px] font-light font-light tracking-[-1.12px] leading-[30.8px] md:leading-[1.1] adjustLetterSpacing sequential-fade">
                Sarama exists for the moments numbers can't explain.
              </p>
            </div>
            <!-- <div class="css-d5ghsn css-j9f0op">
              <div class="css-ne9ye8 css-7js8wp css-v27th6">
                <div class="relative shrink-[0] css-v27th6">
                  <div class="css-tfs6v7 css-ggwoeh css-s3s1qq"></div>
                  <div class="css-rt1aze css-j9f0op">
                    <div class="css-wzl28h css-7js8wp css-v27th6">
                      <div class="css-ti2agj relative shrink-[0]" style="opacity:1;transform:none">
                        <div class="css-916p2q css-7js8wp css-ti2agj">
                          <div class="textContents css-wc1msa css-59rdls css-2hbi4c css-9tyidi"
                            data-paragraph-spacing="0px" data-list-spacing="0px" style="opacity:1;transform:none">
                            <p class="block text-3xl align-[normal]  adjustLetterSpacing sequential-fade">Most dog tech tells you where your dog is. </p>
                          </div>
                          <div class="textContents css-wc1msa css-59rdls css-2hbi4c css-9tyidi"
                            data-paragraph-spacing="0px" data-list-spacing="0px" style="opacity:1;transform:none">
                            <p class="block text-3xl align-[normal]  adjustLetterSpacing sequential-fade">Sarama helps you feel how they are. </p>
                          </div>
                        </div>
                      </div>
                      <div class="textContents css-wc1msa css-mtz32i css-nyous1" data-paragraph-spacing="10px"
                        data-list-spacing="0px" style="opacity:1;transform:none">
                        <p class="block css-evv0vy align-[normal]  adjustLetterSpacing sequential-fade" style="margin-top: 10px; margin-bottom: 10px;">GPS can show you their location.<br>Trackers can count their steps.<br>But none of it tells you the part that matters most:<br>What your dog is feeling—and why.</p>
                      </div>
                      <div class="textContents css-msv2x0 css-wc1msa css-f8rggk css-9tyidi" data-paragraph-spacing="0px"
                        data-list-spacing="0px" style="opacity:1;transform:none">
                        <p class="css-4hzbpn sequential-fade"><span class="css-uo1sdi align-[normal]">Sarama exists for the moments numbers can't explain.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="relative max-w-full md:max-w-[1500px] w-full rounded-[25px] h-[831px] legacy--delayed-fade-section"><img alt="" loading="lazy"
              class="css-ez8men css-9unj7x absolute css-r0azwh css-9unj7x css-f0z3cc"
              src="/image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp"
              srcset="/image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp 2464w, /image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp 512w, /image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp 1024w, /image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp 1536w, /image/webp/628c5c16ccecb63fe817f11e04b7a80203b8c107.webp 2048w"
              sizes="auto,100vw">
            <div class="css-rt1aze css-j9f0op">
              <div class="css-dcewpw css-7js8wp css-dypz3z">
                <div class="css-2zzrr7 css-hv01ud" style="opacity: 1;">
                  <div class="absolute css-ggwoeh css-s3s1qq"
                    style="border-width: 1px; border-color: rgba(0, 0, 0, 0); border-style: solid; opacity: 1;"></div>
                  <div class="css-4sgc css-7js8wp css-j9f0op"></div>
                </div>
                <div class="css-bmg2lx css-5dba7r delayed-fade" style="transform:none">
                  <div class="absolute css-r0azwh"
                    style="border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-right-radius:25px;border-bottom-left-radius:25px">
                    <div class="absolute css-r0azwh"
                      style="border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-right-radius:25px;border-bottom-left-radius:25px;background-color:rgba(240, 238, 231, 0.70)">
                    </div>
                    <div class="absolute css-r0azwh"
                      style="border-top-left-radius:25px;border-top-right-radius:25px;border-bottom-right-radius:25px;border-bottom-left-radius:25px;backdrop-filter:blur(40px);background-image:url(/image/webp/415af428aa728cc6a4881dff76b7a533699bf85e.webp?w=925.5399770736694);background-size:925.5399770736694px 563.639986038208px;background-position:0% 0%;background-repeat:repeat;mix-blend-mode:overlay;opacity:0.07999999821186066">
                    </div>
                  </div>
                  <div class="css-rt1aze css-j9f0op">
                    <div class="css-w3iy2e css-7js8wp css-v27th6">
                      <div class="relative shrink-[0] css-v27th6">
                        <div class="css-rt1aze css-j9f0op">
                          <div class="css-cxq6gs css-7js8wp css-v27th6">
                            <div class="textContents css-wc1msa css-59rdls css-2hbi4c css-9tyidi"
                              data-paragraph-spacing="0px" data-list-spacing="0px">
                              <p class="block css-nltibn align-[normal]  adjustLetterSpacing">A quiet system for deeper care.</p>
                            </div>
                            <div class="textContents css-wc1msa css-59rdls css-1yoex6 css-nyous1"
                              data-paragraph-spacing="10px" data-list-spacing="0px">
                              <p class="block css-ydwfk1 align-[normal]  adjustLetterSpacing">Sarama listens where others track.<br>It turns the signals you can't see—<br>tiny shifts in movement, voice, and breath—<br>into quiet, intuitive insights.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-op4k87 css-49cv28 css-pygw6r" style="opacity:1;transform:none">
                        <div class="css-688vqn css-j9f0op"><a href="https://withsarama.com"
                            style="text-decoration: none;">
                            <div class="css-7tbwgc css-7js8wp css-pygw6r">
                              <div class="textContents css-vkpzlc css-qorwbp css-xipszf" data-paragraph-spacing="0px"
                                data-list-spacing="0px">
                                <p class="block css-evv0vy align-[normal]  adjustLetterSpacing">Join the waitlist</p>
                              </div>
                            </div>
                          </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="relative max-w-full md:max-w-[1500px] w-full relative shrink-[0] fade-in-on-scroll" id="contact-section">
            <div class="css-gxdil1 css-rt1aze css-j9f0op">
              <div class="css-5d2qk css-paq0kv css-v27th6">
                <div class="relative shrink-[0] css-v27th6">
                  <div class="css-elyl3a css-ggwoeh css-s3s1qq"></div>
                  <div class="css-g0vp85 css-j9f0op">
                    <div class="css-5auwl5 css-7js8wp css-v27th6">
                      <div class="relative shrink-[0] css-v27th6">
                        <div class="css-7ursb9 css-7js8wp css-v27th6">
                          <div class="textContents css-wc1msa css-59rdls css-2hbi4c css-9tyidi"
                            data-paragraph-spacing="0px" data-list-spacing="0px">
                            <p class="block text-3xl align-[normal]  adjustLetterSpacing">Join the dogs and humans shaping a new language of care.</p>
                          </div>
                          <div class="textContents css-wc1msa css-59rdls css-1yoex6 css-nyous1"
                            data-paragraph-spacing="10px" data-list-spacing="0px">
                            <p class="block css-ydwfk1 align-[normal]  adjustLetterSpacing">For those who feel called to lead this listening revolution first.</p>
                            <p class="block css-ydwfk1 align-[normal]  adjustLetterSpacing">Apply to join our private beta. 100 humans and their dogs. Selected with care.</p>
                          </div>
                          <div class="css-op4k87 css-rhsw0l css-pygw3b" style="opacity:1;transform:none">
                            <div class="css-688vqn css-j9f0op"><a href="https://form.typeform.com/to/ifTQerp4"
                                style="text-decoration: none;">
                                <div class="css-7tbwgc css-7js8wp css-pygw3b">
                                  <div class="textContents css-vkpzlc css-qorwbp css-xipszf"
                                    data-paragraph-spacing="0px" data-list-spacing="0px">
                                    <p class="block css-evv0vy align-[normal]  adjustLetterSpacing">Apply for the private beta</p>
                                  </div>
                                </div>
                              </a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="relative max-w-full md:max-w-[1500px] w-full relative shrink-[0] fade-in-on-scroll footer-section">
            <div class="css-iebphl css-ggwoeh css-s3s1qq"></div>
            <div class="css-kscsi9 css-j9f0op">
              <div class="css-z1cisn css-7js8wp css-v27th6">
                <div class="css-2as63v relative shrink-[0]">
                  <div class="css-a3m5wj css-7js8wp css-pnkrvt">
                    <div class="relative shrink-[0]">
                      <div class="css-z6r2g3 css-7js8wp">
                        <div class="textContents css-wc1msa css-qddawj css-yujnmi" data-paragraph-spacing="0px"
                          data-list-spacing="0px">
                          <p class="block css-evv0vy align-[normal]  adjustLetterSpacing"><a href="#our-story-section"
                              class="scroll-link">Our story</a></p>
                        </div>
                        <div class="textContents css-wc1msa css-qddawj css-yujnmi" data-paragraph-spacing="0px"
                          data-list-spacing="0px">
                          <p class="block css-evv0vy align-[normal]  adjustLetterSpacing"><a href="#contact-section"
                              class="scroll-link">Contact us</a></p>
                        </div>
                        <div class="textContents css-wc1msa css-qddawj css-62rdwl" data-paragraph-spacing="0px"
                          data-list-spacing="0px">
                          <p class="block css-evv0vy align-[normal]  adjustLetterSpacing"><a
                              href="privacy-policy.html">Privacy policy</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="relative shrink-[0] css-v27th6">
                  <div class="css-vdlf46 css-7js8wp css-v27th6">
                    <div class="css-eha3ka css-wc1msa" data-isimage="true">
                      <div class="css-roiesn css-gig68c css-gs60ek"><img loading="lazy"
                          src="/image/9f2c86bf58607377f75e6b87b22f6680718e8c22.svg" alt=""
                          class="css-9j6u1t block"></div>
                    </div>
                    <div class="css-hv01ud css-5dba7r">
                      <div class="css-v2x5c3 css-7js8wp css-v27th6">
                        <div class="textContents css-vkpzlc css-2g44p8 css-wunejc" data-paragraph-spacing="0px"
                          data-list-spacing="0px">
                          <p class="block css-evv0vy align-[normal]  adjustLetterSpacing"> Sarama.</p>
                        </div>
                        <div class="textContents css-vkpzlc css-2g44p8 css-wunejc" data-paragraph-spacing="0px"
                          data-list-spacing="0px">
                          <p class="block css-evv0vy align-[normal]  adjustLetterSpacing">2025</p>
                        </div>
                      </div>
                    </div>
                    <div class="textContents css-vkpzlc css-2g44p8 css-wunejc" data-paragraph-spacing="0px"
                      data-list-spacing="0px">
                      <p class="block css-evv0vy align-[normal]  adjustLetterSpacing">All Rights Reserved</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-u2yfu8 css-7tvcgb">
            <div class="css-9lhnbi css-7js8wp css-5ico6d">
              <nav class="css-jjqvhg relative shrink-[0]">
                <div class="css-8ul899 css-j9f0op">
                  <div class="css-3vy1sa css-7js8wp css-dylj40">
                    <div class="css-e8fnbp css-wc1msa" data-isimage="true">
                      <div class="css-roiesn css-iv3myy css-gs60ek"><img
                          src="/image/4f75f5eee38961071c7e4314f2901bdc944c0133.svg" alt=""
                          class="css-9j6u1t block"></div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
